
.form-group {
    width: 300px;
}

.form-field {
    height: 20px;
}

.error {
    color: red
}

.form {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -100px;
}

.buttons {
    float: right;
    margin-left: 10px;
    width: 132px
}

.loginLabel {
  margin-left: 85px;
}